{{ define "header" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MonkeyBeat | Can a monkey beat your fund manager?</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <meta name="description"
        content="Generate a portfolio of randomly selected stocks from NIFTY500 universe and see if it beats the underlying benchmark">
    <meta name="author" content="Karan Sharma">
    <meta name="keywords" content="stocks,returns,equity,portfolio,nifty500,nifty">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <script defer data-domain="monkeybeat.market" src="https://pls.mrkaran.dev/js/plausible.js"></script>
</head>

<body>
    <div class="container">
        <header>
            <h1><a href="/">MonkeyBeat</a></h1>
            <p>Can an equi-weighted portfolio of 10 stocks randomly selected from the NIFTY500 universe beat the markets? Find Out!</p>
        </header>
        <main>
            <section class="generate">
                <form method="get" action="/portfolio">
                    <div class="btn-generate">
                        <button type="submit">Generate Portfolio</button>
                    </div>
                </form>
            </section>
        </main>
{{ end }}

{{ define "footer" }}
        <footer class="footer">
            <p>Made with <span>&#9829;</span> by <a href="https://mrkaran.dev"><strong>mrkaran</strong></a></p>
            <p><a href="https://github.com/mr-karan/monkeybeat">Source Code</a></p>
            <p class="disclaimer">This tool is only used for stimulating a random portfolio and should not be misconstrued for financial or investment advise.<br/>No guarantees are provided on the accuracy of any data or calculations.
            </p>
        </footer>
    </div>
</body>

</html>
{{ end }}

<p>
    </div>
    </footer>