{{ define "portfolio" }}
{{ template "header" .}}

<div class="share-container">
    <p>Share this portfolio!</p>
        <a class="share" rel="noreferrer noopener nofollow" target="_blank"  href="/portfolio/{{ .ShareID }}"><i class="bi-share"></i></a>
        <a class="share" rel="noreferrer noopener nofollow" target="_blank" href="{{ .ShareID | TwitterShare }}"><i class="bi-twitter"></i></a>
        <a class="share" rel="noreferrer noopener nofollow" target="_blank"  href="{{ .ShareID | WhatsappShare }}"><i class="bi-whatsapp"></i></a>   
</div>
<section class="summary">
    <h3>Summary</h3>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>1M</th>
                <th>6M</th>
                <th>1Y</th>
                <th>3Y</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="Name">Porfolio</td>
                <td data-label="1M">{{ index .AvgPortfolioReturns 30 | FormatNumber | Color | SafeHTML}}</td>
                <td data-label="6M">{{ index .AvgPortfolioReturns 180 | FormatNumber | Color | SafeHTML}}</td>
                <td data-label="1Y">{{ index .AvgPortfolioReturns 360 | FormatNumber | Color | SafeHTML}}</td>
                <td data-label="3Y">{{ index .AvgPortfolioReturns 1080 | FormatNumber | Color | SafeHTML}}</td>
            </tr>
            <tr>
                <td data-label="Name">{{.Category}}</td>
                <td data-label="1M">{{ index .AvgIndexReturns 30 | FormatNumber | Color | SafeHTML}}</td>
                <td data-label="6M">{{ index .AvgIndexReturns 180 | FormatNumber | Color | SafeHTML}}</td>
                <td data-label="1Y">{{ index .AvgIndexReturns 360 | FormatNumber | Color | SafeHTML}}</td>
                <td data-label="3Y">{{ index .AvgIndexReturns 1080 | FormatNumber | Color | SafeHTML}}</td>
            </tr>
        </tbody>
    </table>
</section>

<section class="chart">
  <h3>Amount Invested</h3>
  <p>Present value of ₹ 10000 invested 3 years ago</p>
  <ul>
    <li>
      Portfolio: ₹ {{.CurrentPortfolioAmount}}
    </li>
    <li>
      {{.Category}}: ₹ {{.CurrentIndexAmount}}
    </li>
  </ul>
  <div id="chart"></div>
</section>

<section class="detail">
  <h3>Portfolio</h3>
  <table>
        <thead>
            <tr>
                <th>Stock</th>
                <th>1M</th>
                <th>6M</th>
                <th>1Y</th>
                <th>3Y</th>
            </tr>
        </thead>

        <tbody>
            {{ range $key, $value := .AvgStockReturns }}
            <tr>
                <td data-label="Stock">
                <a rel="noreferrer noopener nofollow" target="_blank" href="https://www.screener.in/company/{{$key}}/consolidated/">{{$key}}</a>
                </td>
                <td data-label="1M">{{ index $value 30 | FormatNumber | Color | SafeHTML}}</td>
                <td data-label="6M">{{ index $value 180 | FormatNumber | Color | SafeHTML}}</td>
                <td data-label="1Y">{{ index $value 360 | FormatNumber | Color | SafeHTML}}</td>
                <td data-label="3Y">{{ index $value 1080 | FormatNumber | Color | SafeHTML}}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
    <br/>
    <div class="share-container">
        <p>Share this portfolio!</p>
            <a class="share" rel="noreferrer noopener nofollow" target="_blank"  href="/portfolio/{{ .ShareID }}"><i class="bi-share"></i></a>
            <a class="share" rel="noreferrer noopener nofollow" target="_blank" href="{{ .ShareID | TwitterShare }}"><i class="bi-twitter"></i></a>
            <a class="share" rel="noreferrer noopener nofollow" target="_blank"  href="{{ .ShareID | WhatsappShare }}"><i class="bi-whatsapp"></i></a>
    </div>
</section>

<section class="caveats">
    <div class="box">
        <h4>Caveats</h4>
        <ul>
            <li>The stocks selected are from the latest index's constituents. It won't represent the underlying index's churn over the last N years.</li>
            <li>The returns shown are point-to-point returns and not rolling returns.</li>
            <li>Monkeybeat is simply a fun project. While I've tried my best to make the calculations as accurate as possible, there maybe some gaps or missing edge cases.</li>
        </ul>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>

var dates = [
  {{range .DailyPortfolioReturns}}
    {{.Date}},
  {{end}}
];

var portfolio_returns_prices = [
  {{range .DailyPortfolioReturns}}
    {{.CurrentInvested}},
  {{end}}
];

var index_returns_prices = [
  {{range .DailyIndexReturns}}
    {{.CurrentInvested}},
  {{end}}
];

var options = {
    series: [{
        name: "Portfolio",
        data: portfolio_returns_prices
    }, {
        name: "{{.Category}}",
        data: index_returns_prices
    }],
    chart: {
        type: 'area',
        height: 350,
        zoom: {
            enabled: false
        }
    },
    dataLabels: {
        enabled: false
    },
    stroke: {
        curve: 'smooth'
    },
    title: {
        text: 'Value of ₹ 10000 invested',
        align: 'left'
    },
    subtitle: {
        text: 'Price Movements',
        align: 'centre'
    },
    labels: dates,
    xaxis: {
        type: 'datetime',
    },
    yaxis: {
        decimalsInFloat: 0,
        opposite: true,
        title: {
            text: 'Value'
        },
    },
    legend: {
        horizontalAlign: 'left'
    }
};

var chart = new ApexCharts(document.querySelector("#chart"), options);
chart.render();

</script>
{{ template "footer" .}}
{{ end }}
