:root {
    --primary: #386641;
    --secondary: #222;
    --light: #999;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-size: 17px;
    line-height: 26px;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    color: var(--secondary);
    background-color: #f4f3ee;
}

ffe5ec header p {
    text-align: center;
}

header h1 {
    text-align: center;
}

header a {
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    line-height: 2.4rem;
}

h3 {
    font-size: 1.5rem;
    border-bottom: 2px solid #222;
    padding-bottom: 5px;
}

a {
    color: var(--primary);
    font-weight: 600;
}

a:hover {
    color: var(--secondary);
}

.container {
    max-width: 800px;
    margin: 60px auto 0 auto;
    position: relative;
    min-height: 90vh;
}

main {
    padding-bottom: 3rem;
}

section {
    margin-bottom: 45px;
}

section:last-child {
    margin-bottom: 0;
}

.btn-generate {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

button {
    border: none;
    padding: 1rem;
    font-size: 1rem;
    background: #fbb02d;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    width: 35%;
}

button:hover,
button[hover] {
    background-color: #e85d04;
    opacity: 0.8;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
}

table thead {
    background: #95d5b2;
}

table tr {
    border: 1px solid #ddd;
    padding: 5px;
}

table th,
table td {
    padding: 10px;
    text-align: center;
}

table th {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.red {
    color: #ff433d;
}

.green {
    color: #1ecd93;
}

footer {
    margin: 60px 0 0 0;
    text-align: center;
    width: 100%;
    min-height: 2rem;
}

footer a {
    text-decoration: none;
    color: #222;
}

footer span {
    color: var(--primary);
}

.disclaimer {
    color: #9b9b9b;
    font-size: 0.75rem;
}

.share-container {
    display: flex;
    justify-content: right;
}


.share {
    display: flex;
    margin: 0 8px;
    align-items: center;
}


@media(max-width: 700px) {

    html,
    body {
        font-size: 15px;
        line-height: 24px;
    }

    h1 {
        font-size: 2rem;
    }

    .container {
        padding: 20px;
        margin: 0;
    }

    button {
        width: 50%;
    }

    table {
        border: 0;
    }

    table thead {
        display: none;
    }

    table tr {
        border-bottom: 2px solid #ddd;
        display: block;
        margin-bottom: 10px;
    }

    table td {
        border-bottom: 1px dotted #ccc;
        display: block;
        font-size: 13px;
        text-align: right;
    }

    table td:last-child {
        border-bottom: 0;
    }

    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
}